APP_ENV=appliance
APPLIANCE_MODE=true

PROXY_HOST_PORT=8085
FRONTEND_HOST_PORT=5180
BACKEND_HOST_PORT=8050
POSTGRES_HOST_PORT=5435

PUBLIC_BASE_URL=http://10.77.0.1:8085
GUEST_UPLOAD_PATH=/guest/upload
ADMIN_PATH=/admin/login
DISPLAY_PATH=/display
KIOSK_START_URL=http://10.77.0.1:8085/display

EVENT_NAME=RAVEBERG Keller Session
AP_ENABLED=true
AP_SSID=RAVEBERG
AP_ADDRESS=10.77.0.1
LOCAL_HOSTNAME=raveberg.local

DEFAULT_APP_MODE=visualizer
DEFAULT_MODERATION_MODE=manual_approve
DEFAULT_SLIDESHOW_ENABLED=true
DEFAULT_SLIDESHOW_INTERVAL_SECONDS=6
DEFAULT_SLIDESHOW_SHUFFLE=true
